<etri-base-dialog
  [hiddenFooter]="true"
  (onClose)="onClose.emit()"
  class="w-[90vw]"
>
  <h1 header etriDialogHeader>{{ schema() }}.{{ table() }}</h1>
  <div class="overflow-auto  min-h-[500px] h-[80vh] w-full">
    <table class="table table-xs">
      <thead class="sticky top-0 bg-white">
      <tr>
        <th class="border-r border-zinc-200">#</th>
        @for (column of columns(); track $index) {
          <th class="border-r border-zinc-200 last:border-r-0">{{ column }}</th>
        }
      </tr>
      </thead>
      <tbody>
        @if (loading()) {
          <tr>
            <td [colSpan]="columns().length + 1">
              <etri-loading/>
            </td>
          </tr>
        } @else {
          @for (row of data(); track $index) {
            <tr class="even:bg-zinc-50 hover:bg-zinc-100">
              <th class="border-r border-zinc-200">{{ $index + 1 | number }}</th>
              @for (item of row; track $index; let i = $index) {
                @if (isNumber(item)) {
                  <td class="text-right border-r border-zinc-200 last:border-r-0">{{ item | number }}</td>
                } @else {
                  <td>{{ item }}</td>
                }
              }
            </tr>
          } @empty {
            <tr>
              <td class="text-zinc-500 text-center" [colSpan]="columns().length + 1">결과가 없습니다.</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</etri-base-dialog>
