# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
.env
data/

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

# Node
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log

# IDEs and editors
.idea/
client/.idea/
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
client/*.sublime-workspace
server/.idea

# Visual Studio Code
client/.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json
client/.history/*
server/.vscode

# Miscellaneous
/client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
typings

server/.venv
server/**/*.pyc

# System files
.DS_Store
client/.DS_Store
client/Thumbs.db
