* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    position: relative;
    top: 30px;
    left: 30px;
    transition: .5s;
}

.material-icons {
    font-size: 3rem;
    margin-right: 10px;
}

.data-selector {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
}

section {
    background-color: #34495e;
    color: #fff;
    width: 200px;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
}

.data-lists {
    padding-left: 45px;
}

.data {
    margin: 30px 0;
}

.data:nth-child(1) {
    margin-top: 50px;

}

data a {
    color: #fff;
    text-decoration: none;

}