<h1>Queries</h1>

<section class="section elevate flex gap-4">
  <etri-search-input
    class="inline-block grow max-w-lg"
    (onKeyword)="keyword.set($event)"/>
  <button
    type="button"
    routerLink="/queries/register"
    class="ml-auto btn btn-primary btn-sm text-white no-underline rounded-none">New</button>
</section>

<section class="section elevate p-0 overflow-auto">
  <table class="table">
    <!-- head -->
    <thead class="sticky top-0">
    <tr>
      <th class="text-right">ID</th>
      <th class="text-left">Name</th>
      <th class="text-left">Type</th>
      <th class="text-left">Query</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (query of queryList() | patternFilter:keyword():'name'; track $index) {
        <tr class="even:bg-zinc-50 hover:bg-zinc-100">
          <th class="text-right">{{ query.id }}</th>
          <td>{{ query.name }}</td>
          <td>{{ query.is_approximate ? '근사질의' : '정확질의' }}</td>
          <td class="truncate">{{ query.sql }}</td>
          <td class="flex gap-2 py-2 px-4">
            <button
              type="button"
              (click)="deleteQuery(query)"
              class="btn btn-warning btn-xs rounded-none text-white"
            >
              <etri-trash-icon type="solid" class="size-4"/>
            </button>
            <button
              [routerLink]="['/queries', query.id, 'update']"
              type="button"
              class="btn btn-secondary btn-xs rounded-none text-white"
            >
              <etri-pencil-square-icon type="solid" class="size-4"/>
            </button>
            <button
              type="button"
              (click)="runQuery(query)"
              class="btn btn-primary btn-xs rounded-none text-white"
            >
              <etri-play-icon type="solid" class="size-4"/>
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          @if (loading()) {
            <td colspan="5">
              <div class="flex flex-col gap-2 items-center py-4">
                <etri-loading/>
                <span class="text-zinc-500 text-xs">Loading...</span>
              </div>
            </td>
          } @else {
            <td class="text-zinc-500 text-center" colspan="5">결과가 없습니다.</td>
          }
        </tr>
      }
    </tbody>
  </table>
</section>
