<div class="px-4">
  <table class="table">
    <thead class="sticky top-0">
    <tr>
      <th class="text-left"></th>
      <th class="text-left">Name</th>
      <th class="text-left">Type</th>
    </tr>
    </thead>
    <tbody>
      @if (columnsLoading()) {
        <tr>
          <td colspan="3">
            <div class="flex flex-col gap-2 items-center py-4">
              <etri-loading/>
              <span class="text-zinc-500 text-xs">Loading...</span>
            </div>
          </td>
        </tr>
      } @else {
        @for (column of columns(); track $index) {
          <tr>
            <td>
              <input
                type="checkbox"
                [checked]="isSelected(column)"
                (click)="toggleColumn($event, column)"
                class="checkbox checkbox-sm checkbox-primary"
              />
            </td>
            <td>{{ column.name }}</td>
            <td>{{ column.type }}</td>
          </tr>
        } @empty {
          <tr>
            <td class="text-zinc-500 text-center" colspan="3">결과가 없습니다.</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
